.header{
    background-color:rgb(93, 93, 201);
    padding 5px;
    text-align: center;
    heigt
}
.header{
    color:rgb(241, 241, 249);
}
/* .navbar{
    position: fixed;
    top:100px;
    left:10px;
    right:10px;
} */
.navbar{
    background-color:brown;
    overflow: hidden;
}


.navbar a{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right{
    float:right;
}
.row {
    display: flex;
}



.side {
    flex: 30%;
    background-color: #d5cfcf;
    padding: 20px;
}
img{
    height: 200px;
    width: 400px;
    padding: 20px;
}
.img1 img {
    width: 400px;
    height: 40px;
  }
  
  .img2 img {
    width: 400px;
    height: 40px;
  }
  
  .img3 img {
    width: 400px;
    height: 40px;
  }
  

.main1 {
    flex: 70%;
    background-color: #d5cfcf;
    padding: 20px;
}
.img4 img {
    height: 200px;
    width: 930px;
  }
  .img5 img {
    height: 200px;
    width: 930px;
  }




